$main-color-text: #140342;
$color-gray: #746898;
$primary-color: #6440fb;

// start header
header {
  position: relative;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(20, 3, 66, 0.07);
    padding: 10px;

    .logo {
      img {
        width: 120px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;

      .link {
        color: $main-color-text !important;
        font-weight: 500;
      }
    }

    .header_info {
      display: flex;
      align-items: center;
      gap: 20px;

      .icon_search,
      .icon_shop {
        svg {
          width: 23px;
          color: $main-color-text;
        }
      }

      .btn_login {
        padding: 8px 30px;
        color: white !important;
        font-weight: 500;
        border-radius: 50px;
        background-color: $primary-color;
      }

      .btn_menu {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    position: relative;
    z-index: 10;

    .container {
      .logo {
        img {
          width: 90px;
        }
      }

      .links {
        display: none;
      }

      .header_info {
        .btn_login {
          display: none;
        }

        .btn_menu {
          color: $main-color-text;
          width: 24px;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
// end header

// start menu mobile
.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  z-index: 998;
  display: none;

  &.active {
    display: block;
  }
}

.menu_mobile {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 999;
  padding: 20px;
  transition: all 0.4s;

  &.active {
    left: 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(20, 3, 66, 0.07);

    a {
      font-size: 18px;
      color: $main-color-text !important;
    }

    .btn_close {
      color: $main-color-text;
      cursor: pointer;
    }
  }

  .links {
    padding-top: 15px;
    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      color: $main-color-text !important;
      font-weight: 500;
      font-size: 18px;

      svg {
        width: 18px;
      }
    }
  }
}
// end menu mobile
